.selected-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}

.selected-color h1 {
  font-size: 30px;
}

.label {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.color {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.input {
  border: 1px solid #d92bff;
  box-shadow: 2px 2px #d92bff;
  padding-left: 10px;
  border-radius: 0.5rem;
  width: 250px;
  height: 40px;
  font-size: 16px;
  outline: none;
  color: #828282;
}
