.header {
  padding-block: 1.5rem 3rem;
}

.heading {
  color: #5afd0d;
  -webkit-text-fill-color: #5afd0d;
  -webkit-text-stroke-color: #1a1b1d;
  -webkit-text-stroke-width: 0.5px;
  text-shadow: 4px 4px rgb(60, 189, 0);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  line-height: 0.8;
  letter-spacing: 1px;
}

.subheading {
  color: #6f2bff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  margin-left: 3rem;
  gap: 0.5rem;
}

.description {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  max-width: 50rem;
}

@media (min-width: 47.8125rem) {
  .subheading {
    margin-left: 18rem;
    font-size: 2.125rem;
  }

  .heading {
    font-size: 4.75rem;
  }

  .description {
    font-size: 1.375rem;
  }
}
