.header {
  padding-bottom: 50px;
  padding-top: 20px;
}

.heading {
  color: #5afd0d;
  -webkit-text-fill-color: #5afd0d;
  -webkit-text-stroke-color: #1a1b1d;
  -webkit-text-stroke-width: 0.5px;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  font-style: italic;
  line-height: 1.2;
}

.subheading {
  color: #6f2bff;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  font-style: italic;
  margin-left: 5.5rem;
  margin-bottom: 30px;
}

.description {
  font-size: 22px;
}

@media (min-width: 47.8125rem) {
  .subheading {
    margin-left: 10rem;
  }
}
