.colorcontext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 20px;
}
.colorcontext h1 {
  font-size: 30px;
}
.colorcontext-input {
  font-family: "Poppins", sans-serif;
  border: 1px solid #d92bff;
  box-shadow: 2px 2px #d92bff;
  border-radius: 0.5rem;
  width: 250px;
  height: 40px !important;
  font-size: 16px;
  outline: none;
  resize: none;
  overflow-y: scroll hidden;
  padding: 10px 0 0 10px;
  line-height: 1.2;
  color: #828282;
}

.colorcontext-input::placeholder {
  line-height: 1;
  font-size: 13px;
}
