.dropdown {
  position: relative;
  width: 250px;
  border: 1px solid #d92bff;
  outline: none;
  padding: 10px;
  box-shadow: 4px 4px #d92bff;
  color: #828282;
  cursor: pointer;
  background-color: #fff;
}

.dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.active-title {
  border-bottom: 2px solid #828282;
}

.dropdown__title {
  color: #828282;
}

.dropdown__icon {
  color: #828282;
  font-size: 12px;
  transition: 0.2s ease;
}

.dropdown__options {
  display: none;
  z-index: 10;
}

.dropdown__options p {
  border-bottom: 1px solid #828282;
  padding: 5px 0;
}

.dropdown__options p:last-child {
  border-bottom: 0;
}

.active-options {
  display: block;
}

.active-icon {
  transform: rotate(180deg) translateY(5px);
  transition: 0.2s ease;
}
.dropdown__option:hover {
  background-color: #0000;
}
