.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
  width: 80%;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  color: #6f2bff;
}

.text {
  display: flex;
  color: #d92bff;
  font-size: 1.2rem;
}

@media (min-width: 64rem) {
  .container {
    gap: 10rem;
    flex-direction: row;
  }

  .text {
    font-size: 1.4rem;
  }
}
