.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #6f2bff;
}

.text {
  display: flex;
  flex-grow: 1;
  color: #d92bff;
  font-size: 1.7rem;
}

@media (min-width: 47.8125rem) {
  .container {
    gap: 10rem;
  }
}
