.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;
}

.text {
  display: flex;
  color: #d92bff;
  font-size: 1.7rem;
}

@media (min-width: 47.8125rem) {
  .container {
    justify-content: space-between;
    gap: 10rem;
  }
}
