
.colorharmony {
   margin: 20px;
   padding:20px; 
    
}
.colorharmony-dropdownmenu {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border: 1px solid #D92BFF;
    cursor: pointer;
    background-color: #fff;
    width:250px; 
    box-shadow: 4px 4px #D92BFF;
    padding: 10px;
    outline: none; 

}

.colorharmony-title {
    display:flex;
   justify-content: space-between;
    padding: 0px;
    margin:0px;
    color:#828282;
    font-weight: 700;
    font-size: 15px;
   
}

.dropdown__icon {
   display:flex;
    transition: transform 0.2s ease;
    color: #828282;
    font-size: 12px;
   
}

.dropdown__options {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    width: 250px;
    box-shadow: 4px 4px #D92BFF;
    border: 1px solid #D92BFF;
} 

.dropdown__option {
    display: flex;
    flex-direction: column;
    color:#828282;
    padding: 0px;
    margin:5px;;
    cursor: pointer;
    background-color: #fff;

}

.dropdown__option:hover {
    background-color:#fff
}

