
 
 .colorharmony {
    display: flex;
    color: #323033;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.colorharmony-para {
    color: hsl(0, 33%, 2%);
    max-width: 30rem;
    padding: 0px;
    margin: 0px;
    font-size:17px;
    font-display: bold;
    font-weight: 700;
 }
.colorharmony-dropdownmenu{
    position: relative;
    color: #494646;
    background-color: #ffff;
    border-color: #D92BFF;
    text-align: initial;
    padding: 10px;
    margin: 0px;
    border-radius: 0px;
    border: 10px solid inside #D92BFF;
    box-shadow: 2px 2px  #D92BFF;
    height: 36px;
    width: 250px;
    outline: none;  
    font-size: 12px;
    
         
} 
 .colorharmony-colorDisplay{
        padding: 10px;
        margin-top: 20px;
    }
        
        /* .color-sample {
           display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid #000;
        }  */
    
    
    @media (min-width: 47.8125rem) {
            .container {
                flex-direction: row;
                gap: 4rem;
            }
        } 
 
