.main-content {
  padding-top: 30px;
  padding-bottom: 50px;
}

.main-section {
  background: rgb(224, 235, 239);
  padding: 20px 10%;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.submit-button {
  width: 250px;
  height: 50px;
  background: #d92bff;
  border: 2px solid #000;
  box-shadow: 4px 4px #000;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
  cursor: pointer;
}

.submit-button:hover {
  background: #e066fb;
  transition: 0.2s;
}
