.main {
    display: flex;
}
.container1,.container2 {
    display: flex;
   align-items: flex-start;;
}
.ittem1 { 
    
   display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.item2 {
   align-self: center;
   margin-left:35px;
   margin-top: 7px;
} 
.item3{
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap:7em;
    flex-wrap: wrap;
    font-size:12px;
    padding:30px;
}
.item4 {
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 7em;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 25px;
    margin-left:26px;
}
@media (min-width: 47.8125rem) {
    .container {
        width: 80%;
       flex-direction: row;
        justify-content: space-between;

       
    }

}